repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.0
    hooks:
    - id: trailing-whitespace
    - id: requirements-txt-fixer
    - id: check-added-large-files
      args: ['--maxkb=50000']
    - id: end-of-file-fixer
    - id: check-merge-conflict
    - id: check-yaml
    - id: debug-statements
    - id: mixed-line-ending
      args: ['--fix=lf']

  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.17.0
    hooks:
    - id: setup-cfg-fmt
      name: Autoformat setup.cfg
      args: [--min-py3-version, "3.6"]

  - repo: https://github.com/timothycrosley/isort
    rev: 5.8.0
    hooks:
    - id: isort
      name: Sort imports with isort

  - repo: https://github.com/psf/black
    rev: 21.5b1
    hooks:
    - id: black
      name: Autoformat with black
      args: [-t, py38, -l, "100"]

  - repo: https://github.com/asottile/blacken-docs
    rev: v1.10.0
    hooks:
    - id: blacken-docs
      name: Autoformat codes in docstrings with blacken-docs
      additional_dependencies: [black]
      args: [-t, py38, -l, "88"]

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
    - id: rst-backticks
      name: Check backsticks in rst files
    - id: rst-directive-colons
      name: Check directives in rst files

  - repo: https://github.com/PyCQA/doc8
    rev: 0.9.0a1
    hooks:
    - id: doc8
      name: Check documentation formats with doc8
      args: [--max-line-length, "100"]

  - repo: https://github.com/terrencepreilly/darglint
    rev: v1.8.0
    hooks:
    - id: darglint
      name: Lint docstrings with Darglint

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.16.0
    hooks:
    - id: pyupgrade
      name: Upgrade synax to python 3.6+ with pyupgrade
      args: [--py36-plus]

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
    - id: flake8
      name: Linting with flake8
      additional_dependencies: [flake8-comprehensions, flake8-builtins, flake8-blind-except, flake8-bugbear, flake8-use-fstring, flake8-docstrings, flake8-simplify]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.812
    hooks:
    - id: mypy
      name: Static type checking with mypy
      exclude: tests
      files: pynhd

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.0
    hooks:
    - id: bandit
      name: Check for security issues with bandit
      args: [-lll, --recursive, pynhd]
      files: .py$
