name: hydrodata-dev
channels:
  - conda-forge
dependencies:
  - python>=3.8
  - pip
  - pygeoogc
  - owslib
  - pandas
  - matplotlib-base
  - xarray
  - scipy
  - geopandas
  - geojson
  - folium
  - rasterio
  - networkx
  - simplejson
  - defusedxml

  - dask
  - netCDF4
  - bottleneck
  - descartes
  - lxml

  - bump2version
  - pytest-cov
  - pytest-xdist
  - pre-commit
  - codecov
  - coverage

  - recommonmark
  - nbsphinx
  - sphinx
  - sphinx-copybutton
  - pycodestyle
  - numpydoc

  - beautifulsoup4
  - python-slugify
  - css-html-js-minify
  - unidecode
  - pip:
    - pygeoogc
    - nbsphinx_link
    - git+https://github.com/bashtage/sphinx-material.git
