name: pytest

on: [push, pull_request]

jobs:
  test:
    name: python ${{ matrix.python-version }}, ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.6", "3.7", "3.8"]
        os: ["ubuntu-latest", "macos-latest"]

    steps:
      - uses: actions/checkout@master
      - name: Setup miniconda
        uses: goanpeca/setup-miniconda@v1
        with:
          activate-environment: hydrodata
          python-version: ${{ matrix.python-version }}
          environment-file: ci/requirements/py${{ matrix.python-version }}.yml
          auto-update-conda: true
          auto-activate-base: false

      - name: Install hydrodata
        shell: bash -l {0}
        run: |
          conda info
          conda list
          conda install -y -c conda-forge pytest pytest-cov codecov flaky
          pip install --no-deps -e .

      - name: Run pytest
        shell: bash -l {0}
        run: pytest --cov=hydrodata --cov-report term-missing --cov-report xml --verbose --color=yes

      - name: Run codecov
        uses: codecov/codecov-action@v1
